@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat" sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    background-color: rgb(244, 237, 228);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-template-rows: 350px 400px 300px 300px 300px;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
 
}

.box img{
   width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    
}

.box img:hover{
    cursor: pointer;
    transform: scale(1.1); 

}
.un {
    grid-column: 1 / 4;
    grid-row: 1;
}

.deux {
    grid-column: 1;
    grid-row: 2 / 4;
}

.trois {
    grid-column: 2;
    grid-row: 2;
}

.quatre {
    grid-column: 3;
    grid-row: 2;
}

.cinq {
    grid-column: 2 / 4;
    grid-row: 3;
}

.six {
    grid-column: 1 / 3;
    grid-row: 4;
}

.sept {
    grid-column: 3;
    grid-row: 4;
}

.huit {
    grid-column: 1 / 4;
   grid-row: span 2;
}

.box {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateY(100%);
}

.box:hover .overlay{
    transform: translateY(0);
}



